{template 'wslm', 'header'}
			<!-- header end -->

			<!-- banner start-->
			{template 'wslm', 'banner'}
			<!-- banner end -->

			<!-- show start -->
			<div class="ym-grid full_content">
				<h2><img src="{SKIN_PATH}images/insert/ser_title_1.jpg" alt=""></h2>
				<h2 class="hasmore mt-10"><img src="{SKIN_PATH}images/insert/ser_title_2.jpg" alt="">
					<a href="{$CATEGORY[18][url]}" title="{$CATEGORY[18][catname]}" class="s-more-b"></a>
				</h2>
				<div class="ym-gbox">
					{block('cat_ser_views',1)}
				</div>
				<h2 class="mt-10"><img src="{SKIN_PATH}images/insert/ser_title_3.jpg" alt=""></h2>
				<div class="ym-gbox">
					<div class="cat-ser_table_wrapper">
						<table class="cat-ser_table">
							<tr>
								<td>
									<a href="{$CATEGORY[20][url]}" title="{$CATEGORY[20][catname]}">
										<img src="{SKIN_PATH}images/insert/ser_plan_ (1).jpg" alt="">
									</a>
								</td>
								<td>
									<a href="{$CATEGORY[21][url]}" title="{$CATEGORY[21][catname]}">
									<img src="{SKIN_PATH}images/insert/ser_plan_ (2).jpg" alt="">
									</a>
								</td>
								<td>
									<a href="{$CATEGORY[22][url]}" title="{$CATEGORY[22][catname]}">
									<img src="{SKIN_PATH}images/insert/ser_plan_ (3).jpg" alt="">
									</a>
								</td>
								<td>
									<a href="{$CATEGORY[23][url]}" title="{$CATEGORY[23][catname]}">
									<img src="{SKIN_PATH}images/insert/ser_plan_ (4).jpg" alt="">
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="{$CATEGORY[24][url]}" title="{$CATEGORY[24][catname]}">
									<img src="{SKIN_PATH}images/insert/ser_plan_ (5).jpg" alt="">
									</a>
								</td>
								<td>
									<a href="{$CATEGORY[25][url]}" title="{$CATEGORY[25][catname]}">
									<img src="{SKIN_PATH}images/insert/ser_plan_ (6).jpg" alt="">
									</a>
								</td>
								<td>
									<a href="{$CATEGORY[26][url]}" title="{$CATEGORY[26][catname]}">
									<img src="{SKIN_PATH}images/insert/ser_plan_ (7).jpg" alt="">
									</a>
								</td>
								<td>
									<a href="{$CATEGORY[27][url]}" title="{$CATEGORY[27][catname]}">
									<img src="{SKIN_PATH}images/insert/ser_plan_ (8).jpg" alt="">
									</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<h2 class="hasmore mt-10"><img src="{SKIN_PATH}images/insert/ser_title_4.jpg" alt="">
					<a href="{$CATEGORY[28][url]}" title="{$CATEGORY[28][catname]" class="s-more-b"></a>
				</h2>
				<div class="ym-gbox">
					{block('cat_ser_progress',1)}
				</div>
			</div>
			<!-- show end -->


			<!-- footer start -->
{template 'wslm', 'footer'}