{template 'wslm', 'header'}
			<!-- header end -->

			<!-- banner start-->
			{template 'wslm', 'banner'}
			<!-- banner end -->

			<div class="ym-grid mt-15">
				<div class="ym-320 ym-gl s-cat-case-share">
					<div class="ym-gbox cat-case ">
						<!-- 案例分析 -->
						{php $cid = 6}
						{tag_cat_case_list}
					</div>
				</div>
				<div class="ym-320 ym-gl ml-10 s-cat-case-road">
					<div class="ym-gbox cat-case">
						<!-- 成功之路 -->
						{php $cid = 17}
						{tag_cat_case_list}
					</div>
				</div>
				<div class="ym-320 ym-gr s-cat-case-coop">
					<div class="ym-gbox cat-case">
						<!-- 合作伙伴 -->
						{php $cid = 14}
						{tag_cat_case_list}
					</div>
				</div>
			</div>
			
			<div class="ym-grid mb-20">
				{tag_cat_case_recommend}
			</div>
			<!-- new end -->

			<!-- footer start -->
{template 'wslm', 'footer'}