{template 'wslm', 'header'}
			<!-- header end -->

			<!-- banner start-->
			{template 'wslm', 'banner'}
			<!-- banner end -->

			<div class="ym-grid">
				<div class="ym-w585 ym-gl">
					<div class="ym-gbox s-about-us">
						<p class="cat-about-us">
							{block('cat_about_us',1)}
							<a href="{$CATEGORY[9][url]}" title="{$CATEGORY[9][catname]}">详细&gt;</a>
						</p>
					</div>
				</div>
				<div class="ym-w395 ym-gr">
					<div class="ym-gbox s-about-culture">
						<p class="cat-about-culture">
							{block('cat_about_culture',1)}
							<a href="{$CATEGORY[10][url]}" title="{$CATEGORY[10][catname]}">详细&gt;</a>
						</p>
					</div>
				</div>
			</div>
			<div class="ym-grid">
				<div id="cat_team_slider" class="gbox cat-about-team">
					<div class="cat-team-left" id="team_toleft"></div>
					<div class="cat-team-wrapper" id="cat_team_wrapper">
						<ul id="cat_team_move" class="cat-team-move" idx="1">
							{tag_cat_about_team}
						</ul>
					</div>
					<div class="cat-team-right" id="team_toright"></div>
				</div>
			</div>
			<div class="ym-grid">
				<div class="ym-w340 ym-gl">
					<div class="cat-about-partner">
						<h2 class="title hasmore"><a class="s-more-b" href="{$CATEGORY[14][url]}" title="{$CATEGORY[14][catname]}"></a></h2>
						<div class="imgctr">
							<p class="imgctr">
								{block('cat_about_partner', 1)}
							</p>
						</div>
					</div>
				</div>
				<div class="ym-w380 ym-gl">
					<div class="cat-about-honor">
						<h2 class="title hasmore"><a class="s-more-b" href="{$CATEGORY[11][url]}" title="{$CATEGORY[11][catname]}"></a></h2>
						<div class="imgctr">
							<p class="imgctr">
								{block('cat_about_honor', 1)}
							</p>
						</div>
					</div>
				</div>
				<div class="ym-w260 ym-gl">
					<div class="cat-about-org">
						<h2 class="title hasmore"><a class="s-more-b" href="{$CATEGORY[12][url]}" title="{$CATEGORY[12][catname]}"></a></h2>
						<div class="imgctr">
							<p class="imgctr">
								{block('cat_about_org', 1)}
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- footer start -->
{template 'wslm', 'footer'}