{template 'wslm', 'header'}
			<!-- header end -->

			<!-- banner start-->
			{template 'wslm', 'banner'}
			<!-- banner end -->

			<!-- news start -->
			<div class="ym-column cat-news">
				<div class="ym-col1">
					<div class="ym-cbox">
						<div class="s-news-top news-top">
							{php $catnewsid=15}
							{block("news_$catnewsid", 1)}
							{tag_cat_news_recommend}
						</div>
						<div class="news-list">
							<div class="link">
								<a class="s-more-b" href="{$CATEGORY[$catnewsid][url]}" title="{$CATEGORY[$catnewsid][catname]}"></a>
							</div>
							<ul>
								{tag_cat_news_list}
							</ul>
						</div>
					</div>
				</div>
				<div class="ym-col2">
					<div class="ym-cbox">
						<div class="s-news-top news-top">
							{php $catnewsid=16}
							{block("news_$catnewsid", 1)}
							{tag_cat_news_recommend}
						</div>
						<div class="news-list">
							<div class="link"><a class="s-more-b" href="#"></a></div>
							<ul>
								{tag_cat_news_list}
							</ul>
						</div>
					</div>
				</div>
				<div class="ym-col3">
					<div class="ym-cbox">
						<div class="s-news-top news-top">
							{php $catnewsid=17}
							{block("news_$catnewsid", 1)}
							{tag_cat_news_recommend}
						</div>
						<div class="news-list">
							<div class="link"><a class="s-more-b" href="#"></a></div>
							<ul>
								{tag_cat_news_list}
							</ul>
						</div>
						<div class="ym-ie-clearing">&nbsp;</div>
					</div>
				</div>
			</div>

			<!-- new end -->

			<!-- footer start -->
{template 'wslm', 'footer'}