        <footer>
            <div class="footer">
                <div class="copyright">
                    {$WSLM[copyright]} {$WSLM[icpno]} 技术支持:<a href="http://www.zgweb.com" title="麦谷网络">麦谷网络</a>
                </div>
                <div class="footlink">
                    <a href="{SITE_URL}" title="首页">首页</a> |
                    <a href="{$CATEGORY[11][url]}" title="{$CATEGORY[11][catname]}">{$CATEGORY[11][catname]}</a> | 
                    <a href="{$CATEGORY[3][url]}" title="{$CATEGORY[3][catname]}">{$CATEGORY[3][catname]}</a> | 
                    <a href="{$CATEGORY[31][url]}" title="{$CATEGORY[31][catname]}">{$CATEGORY[31][catname]}</a> 
                </div>
            </div>
        </footer>
    </div>
</body>
</html>