{template 'wslm', 'header'}
    
        <div class="idxmap">
            <img src="{SKIN_PATH}images/i_idx_intro.jpg" alt="" usemap="#indexmap">
            <map name="indexmap">
                <area shape="rect" coords="278,37,371,137" href="{$CATEGORY[25][url]}" title="{$CATEGORY[25][catname]}" />
                <!--机动车-->
                <area shape="rect" coords="470,24,579,127" href="{$CATEGORY[26][url]}" title="{$CATEGORY[26][catname]}" />
                <!--工矿机械-->
                <area shape="rect" coords="656,29,737,138" href="{$CATEGORY[27][url]}" title="{$CATEGORY[27][catname]}" />
                <!--风电产业-->
                <area shape="rect" coords="788,52,903,170" href="{$CATEGORY[28][url]}" title="{$CATEGORY[28][catname]}" />
                <!--航空产业-->
                <area shape="rect" coords="91,78,173,177" href="{$CATEGORY[24][url]}" title="{$CATEGORY[24][catname]}" />
                <!--家电产业-->
            </map>
        </div>

        <!-- content start -->
        <div class="indexcolumn">
            <div class="intro">
                <h2 class="hasmore png_bg"><a href="{$CATEGORY[12][url]}" class="more png_bg" title="more"></a>企业简介</h2>
                <div class="introcontent">
                    <img src="{SKIN_PATH}images/i_idx_desc.jpg" alt="">
                    <p>{block('index_intro',1)}</p>
                </div>
            </div>
            <div class="news">
                <div class="newswrapper">
                    <h2 class="hasmore png_bg"><a href="{$CATEGORY[17][url]}" class="more png_bg" title="more"></a>最新资讯</h2>
                    <ul id="idxNewslist" class="newslist">
                        {php $sql = "SELECT a.*,b.* FROM `mg_content` a, `mg_c_thumbnews` b WHERE a.contentid=b.contentid AND a.status=99  ".get_sql_catid(17)." AND a.thumb != '' ORDER BY a.listorder DESC";}
                        {get sql="$sql" rows="4"}
                        <li {if $n == 1}class="active" {else} class="noactive"{/if}>
                            <img src="{$r[thumb]}" alt="{$r[title]}">
                            <h3><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],25,'..')}</a></h3>
                            <p>{str_cut(strip_tags($r[content]),100,'..')}</p>
                            <span> &middot; {date('Y-m-d', $r[inputtime])} <a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],30,'..')}</a></span>
                            <div class="clear"></div>
                        </li>
                        {/get}
                    </ul>
                </div>

            </div>
            <div class="partner">
                {php $sql = "SELECT a.*,b.* FROM `mg_content` a, `mg_c_partner` b WHERE a.contentid=b.contentid AND a.status=99  ".get_sql_catid(7)." AND a.thumb != '' ORDER BY a.listorder DESC";}
                {get sql="$sql" rows="7"}
                    <img src="{$r[thumb]}" alt="{$r[title]}">
                    {if $n == 4}
                    <img src="{SKIN_PATH}images/partner/1 (6).jpg" alt="合作伙伴">
                    {/if}
                {/if}
            </div>
        </div>
        <div class="insert">

        </div>
        <!-- content end -->

        <!-- footer start -->
{template 'wslm', 'footer'}