{template 'wslm','header'}
            <div class="index-banner">
                <div class="mosaic banner-1">
                	{php $cid=64}
                	{tag_index_hover}
                </div>
                <div class="mosaic banner-2">
                	{php $cid=65}
                	{tag_index_nhover}
                </div>
                <div class="mosaic banner-3">
					{php $cid=66}
                    {tag_index_hover}
                </div>
                <div class="mosaic banner-4" id="index_small_cycle">
                	{php $cid=67}
                	{tag_index_change}
                </div>
                <div class="mosaic banner-5">
					{php $cid=68}
                    {tag_index_hover}
                </div>
                <div class="mosaic banner-6" id="index_big_cycle">
                	{php $cid=69}
                	{tag_index_change}
                </div>
                <div class="mosaic banner-7">
                    {php $cid=70}
                    {tag_index_nhover}
                </div>
                <div class="mosaic banner-8">
                    {php $cid=71}
                    {tag_index_hover}
                </div>
                <div class="mosaic banner-9">
                    {php $cid=72}
                    {tag_index_nhover}
                </div>
                <div class="mosaic banner-10">
					{php $cid=73}
                    {tag_index_hover}
                </div>
                <div class="mosaic banner-11">
                	{php $cid=74}
                    {tag_index_nhover}
                </div>
                <div class="mosaic banner-12">
                    {php $cid=75}
                    {tag_index_hover}
                </div>
            </div>
            <div class="ym-grid">
                <div class="ym-w320 ym-gl">
                    <div class="ym-gbox index-news">
                        <h2 class="roll"><a href="{$CATEGORY[17][url]}" title="{$CATEGORY[17][name]}" class="s-index-ntitle-notice"></a></h2>
                        <ul>
                            {php $cid=15}
                            {tag_index_news_list}
                        </ul>
                    </div>
                </div>
                <div class="ym-w320 ym-gl ml-10">
                    <div class="ym-gbox index-news">
                        <h2 class="roll"><a href="{$CATEGORY[18][url]}" title="{$CATEGORY[18][name]}" class="s-index-ntitle-info"></a></h2>
                        <ul>
                            {php $cid=16}
                            {tag_index_news_list}
                        </ul>
                    </div>
                </div>
                <div class="ym-w320 ym-gr">
                    <div class="ym-gbox index-news">
                        <h2 class="roll"><a href="{$CATEGORY[16][url]}" title="{$CATEGORY[16][name]}" class="s-index-ntitle-news"></a></h2>
                        <ul>
                            {php $cid=17}
                            {tag_index_news_list}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ym-grid index-plan mt-10 mb-20">
                {tag_index_back_hover}
            </div>
{template 'wslm','footer'}