{template 'wslm', 'header'}
    
<!-- header end -->

<!-- content start -->
<div class="content">
	<nav class="side">
		{template 'wslm', 'tpl_sidenav'}
                {template 'wslm', 'tpl_friendlink'}
	</nav>
	<div class="article">
		<div class="title">{template 'wslm', 'tpl_title'}</div>
		<div class="list-news">
			{php $sql = "SELECT a.*,b.* FROM `mg_content` a, `mg_c_thumbnews` b WHERE a.contentid=b.contentid AND a.status=99  ".get_sql_catid($catid)." ORDER BY a.listorder DESC";}
            {php $once = true}
            {php $hasthumb = false}
            {php $thumbnews = ''}
            {php $loopData = ''}
            {get sql="$sql" rows="10" page="$pages"}
            {if $once}
	            {if !$hasthumb}
	            {loop $DATA $dn $dr}
	                {if $dr[thumb]}
	                    {php $thumbnews = $DATA[$dn]}
	                    {php unset($DATA[$dn])}
	                    {php $hasthumb = true;}
	                    {php break;}
	                {/if}
	            {/loop}
	            {/if}
	            {if !$hasthumb}
				{loop $DATA $dn $dr}
                    {php $nothumbnews = $DATA[$dn]}
                    {php unset($DATA[$dn])}
                    {php break;}
	            {/loop}
	            {/if}
	            {if $hasthumb}
				<div class="news-first">
					<div class="cbox">
						<div class="imgctr">
							<img src="{$thumbnews[thumb]}" alt="{$thumbnews[title]}"></div>
						<h3>
							<a href="{$thumbnews[url]}" title="{$thumbnews[title]}">{str_cut($thumbnews[title], 27, '...')}</a>
						</h3>
						<p>
							{str_cut(strip_tags($thumbnews[content]), 159, '...')}
							<a href="{$thumbnews[url]}" title="{$thumbnews[title]}">详细&gt;&gt;</a>
						</p>
						<div class="clear"></div>
					</div>
				</div>
				{else}
				<div class="news-first">
					<div class="cbox">
						<div class="imgctr">
							<img src="{SKIN_PATH}images/i_news_nothumb.gif" alt="{$nothumbnews[title]}"></div>
						<h3>
							<a href="{$nothumbnews[url]}" title="{$nothumbnews[title]}">{str_cut($nothumbnews[title], 27, '...')}</a>
						</h3>
						<p>
							{str_cut(strip_tags($nothumbnews[content]), 159, '...')}
							<a href="{$nothumbnews[url]}" title="{$nothumbnews[title]}">详细&gt;&gt;</a>
						</p>
						<div class="clear"></div>
					</div>
				</div>
				{/if}
			<ul>
				{loop $DATA $dc $da}
				<li>
					<span>{date('Y-m-d', $da[inputtime])}</span>
					<a href="{$da[url]}" title="{$da[title]}">{str_cut($da[title], 55)}</a>
				</li>
				{/loop}
			</ul>
			{php $once = !$once}
            {/if}
            {/get}
		</div>
		<div class="pages">
			{$pages}
		</div>
		<img class="f-right" src="{SKIN_PATH}images/i_list_news.jpg" alt=""></div>
	<div class="clear"></div>
</div>
<!-- content end -->

<!-- footer start -->
{template 'wslm', 'footer'}