{template 'wslm', 'header'}
        <!-- header end -->

        <!-- content start -->
        <div class="content">
            <nav class="side">
                {template 'wslm', 'tpl_sidenav'}
                {template 'wslm', 'tpl_prosearch'}
            </nav>
            <div class="article">
                <div class="title">
                    {template 'wslm', 'tpl_title'}
                </div>
                <div class="list-products">
                	<div class="pro-gather">
						<div class="pro-list">
						{php $sql = "SELECT a.*,b.* FROM `mg_content` a, `mg_c_product` b WHERE a.contentid=b.contentid AND a.status=99  ".get_sql_catid($catid)." ORDER BY a.listorder DESC";}
						{get sql="$sql"}
							<div class="pro-item">
								<div class="pro-img">
									<a href="{$r[url]}" title="{$r[title]}">
										<img src="{$r[thumb]}" alt="{$r[title]}">
										<div class="pro-imgcover png_bg"></div>
									</a>
								</div>
								<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],24,'..')}</a></h4>
								<p>{str_cut(strip_tags($r[content]),80,'..')}</p>
								<p><a href="{$r[url]}">查看详细&gt;&gt;</a></p>
							</div>
						{/get}
						</div>
					</div>
					<div class="clear"></div>
                </div>
                {template 'wslm', 'tpl_pagenews'}
            </div>
            <div class="clear"></div>
        </div>
        <!-- content end -->

        <!-- footer start -->
{template 'wslm', 'footer'}