{template 'wslm', 'header'}
			<!-- header end -->

			<!-- banner start-->
			{template 'wslm', 'banner'}
			<!-- banner end -->

			<!-- show start -->
			<div class="ym-grid content">
				<div class="ym-w260 ym-gl">
					<div class="sidebar ym-gbox">
						{template 'wslm', 'sidebar'}
					</div>
				</div>
				<div class="ym-w715 ym-gr">
					<div class="show" class="ym-gbox-show">
						<div class="s-content-title show-nav">
							{template 'wslm', 'title'}
						</div>
						{php if($catid==60):}<!-- 联系我们 -->
						<div class="show-contact">
							<img src="{SKIN_PATH}images/insert/contact_title.jpg" alt="联系我们">
							<div class="contact-list">
								{block('page_contact_us', 1)}
							</div>
						</div>
						{php elseif($catid==61):}<!-- 在线留言 -->
						<div class="show-contact">
							<form name="myform" method="post" action="guestbook/post.php" onSubmit="return check()">
								<table class="contact">
									<tr>
										<td width="40">姓名:</td>
										<td width="160"><input class="input" type="text" size="38" name="guestbook[username]" /></td>
										<td width="10"></td>
									</tr>
									<tr>
										<td>电话:</td>
										<td><input class="input" type="text" size="38" name="guestbook[homepage]" /></td>
										<td><span style="color:#f00">*</span></td>
									</tr>
									<tr>
										<td>QQ:</td>
										<td><input class="input" type="text" size="38" name="guestbook[qq]"/></td>
										<td><span style="color:#f00">*</span></td>
									</tr>
									<tr>
										<td>邮箱:</td>
										<td><input class="input" type="text" size="38" name="guestbook[email]" /></td>
										<td></td>
									</tr>
									<tr>
										<td>标题:</td>
										<td><input class="input"  type="text"  size="38" name="guestbook[title]" /></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2"><textarea class="textarea" name="guestbook[content]"  cols="65" rows="7"></textarea></td>
										<td><span style="color:#f00">*</span></td>
									</tr>
									<tr>
										<td>验证码:</td>
										<td><input type="text" name="checkcodestr" class="captcha" size="4" />&nbsp;&nbsp;<img src="checkcode.php" id="checkcode" onClick="this.src='checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2" align="right">
											<input type="submit" name="dosubmit" class="button" value="提交信息" />
										</td>
										<td></td>
									</tr>
								</table>
							</form>
							<dl>
							{get sql="select * from wslm_guestbook where passed = 1" rows="6" page="$pages"}
								<dt><h4><span>{$r[username]}-{date('Y-m-d',$r[addtime])}</span>{$r[title]}</h4></dt>
								<dd>回复:{$r[reply]}</dd>
							{/get}
							</dl>
							{if $pages}
								<div class="pages">
									{$pages}
								</div>
							{/if}
						</div>
						
						{php else:}
						<div class="show-content">
							{block("page_$catid", 1)}
						</div>
						{php endif;}
					</div>
				</div>
			</div>
			<!-- show end -->

			<!-- footer start -->
{template 'wslm', 'footer'}