{template 'wslm', 'header'}
    
        <!-- header end -->

        <!-- content start -->
        <div class="content">
            <nav class="side">
                {template 'wslm', 'tpl_sidenav'}
                {template 'wslm', 'tpl_friendlink'}
            </nav>
            <div class="article">
                <div class="title">
                    {template 'wslm', 'tpl_title'}
                </div>
                {if $catid==22}
                <div class="list-message">
                    <form name="myform" action="formguide/index.php" method="post" enctype="multipart/form-data">
                        <table class="message-table">
                            <colgroup>
                            <col style="width:120px;text-align:right;">
                            <col style="width:420px"></colgroup>
                        <tr>
                            <th>标题</th>
                            <td>
                                <input type="text" name="info[title]" id="title" value=""  class="inputclass"  />
                            </td>
                        </tr>
                        <tr>
                            <th>内容</th>
                            <td>
                                <textarea name="info[content]" id="content" class="" ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>公司名称</th>
                            <td>
                                <input type="text" name="info[companyname]" id="companyname" value=""  class=""  />
                            </td>
                        </tr>
                        <tr>
                            <th>地址</th>
                            <td>
                                <input type="text" name="info[address]" id="address" value=""  class=""  />
                            </td>
                        </tr>
                        <tr>
                            <th>邮编</th>
                            <td>
                                <input type="text" name="info[code]" id="code" value=""  class="short"  />
                            </td>
                        </tr>
                        <tr>
                            <th>联系人</th>
                            <td>
                                <input type="text" name="info[contact]" id="contact" value=""  class=""  />
                            </td>
                        </tr>
                        <tr>
                            <th>电话</th>
                            <td>
                                <input type="text" name="info[tel]" id="tel" value=""  class=""  />
                            </td>
                        </tr>
                        <tr>
                            <th>移动电话</th>
                            <td>
                                <input type="text" name="info[mobile]" id="mobile" value=""  class=""  />
                            </td>
                        </tr>
                        <tr>
                            <th>传真</th>
                            <td>
                                <input type="text" name="info[fax]" id="fax" value=""  class=""  />
                            </td>
                        </tr>
                        <tr>
                            <th>电子邮箱</th>
                            <td>
                                <input type="text" name="info[email]" id="email" value=""  class=""  />
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input type="hidden" name="dataid" value="" />
                                <input type="hidden" name="formid" value="1" />
                                <input type="submit" name="dosubmit" value=" "  class="submit" />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="reset" name="reset" value=" "  class="reset" />
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
                {else}
                <div class="singlepage">
                    {block("cat_$catid", 1)}
                </div>
                {/if}
                {template 'wslm', 'tpl_pagenews'}
            </div>
            <div class="clear"></div>
        </div>
        <!-- content end -->

        <!-- footer start -->
{template 'wslm', 'footer'}