{template 'wslm', 'header'}
    
        <!-- header end -->

        <!-- content start -->
        <div class="content">
            <nav class="side">
                {template 'wslm', 'tpl_sidenav'}
                {template 'wslm', 'tpl_friendlink'}
            </nav>
            <div class="article">
                <div class="title">
                    {template 'wslm', 'tpl_title'}
                </div>
                <div class="article-show">
					<h4>{$title}</h4>
					<p class="info">
						最近更新时间：{$updatetime}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						浏览次数：<span id="hits">0</span>
					</p>
					<div>{$content}</div>
					<script language="JavaScript" src="count.php?contentid={$contentid}"></script>
                </div>
                {template 'wslm', 'tpl_pagenews'}
            </div>
            <div class="clear"></div>
        </div>
        <!-- content end -->

        <!-- footer start -->
{template 'wslm', 'footer'}