<div class="left">
	<ul>
		{if $topid == $catid}
			<li id="catleft_{$catid}">
				<a href="{$CATEGORY[$topid][url]}" title="{$CATEGORY[$topid][catname]}">{$CATEGORY[$topid][catname]}</a>
			</li>
		{else}
			{php $data = subcat('main', $topid);}
			{loop $data $cat}
			<li id="catleft_{$cat['catid']}"><a href="{$cat['url']}" title="{$cat['catname']}">{$cat[catname]}</a></li>
			{/loop}
		{/if}
	</ul>
	<script type="text/javascript">
		$('#catleft_{$catid} a').addClass('hover');
	</script>
</div>