{template 'wslm', 'header'}
    
        <!-- header end -->

        <!-- content start -->
        <div class="content">
            <nav class="side">
                {template 'wslm', 'tpl_sidenav'}
                {template 'wslm', 'tpl_friendlink'}
            </nav>
            <div class="article">
                <div class="title">
                    {template 'wslm', 'tpl_title'}
                </div>
                <div class="search-result">
                    <ul class="search-list">
                    {if !$normal}
                	{loop $data $i $r}
						<li><span>{$r[date]}</span><a href="{$r[url]}">{$r[title]}</a></li>
					{/loop}
                    {else}
                        {php $sql = "SELECT a.*, b.* FROM `mg_content` a, `mg_c_product` b WHERE a.contentid=b.contentid AND a.status=99  ".get_sql_catid($proid)." AND (a.title LIKE '%$q%' OR b.content LIKE '%$q%') ORDER BY a.listorder DESC";}
                        {get sql="$sql" rows="10" page="$pages"}
                        <li><span>{date('Y-m-d', $r[updatetime])}</span><a href="{$r[url]}">{$r[title]}</a></li>
                        {/get}
                    {/if}
                    </ul>
					<p class="info">
                		{if $data}找到相关网页<span style="color:red">{$total}</span>篇，用时<span style="color:red">{$usedtime}</span>秒{/if}
                	</p>
                </div>
                <div class="pages">
                    {$pages}
                </div>
                {template 'wslm', 'tpl_pagenews'}
            </div>
            <div class="clear"></div>
        </div>
        <!-- content end -->

        <!-- footer start -->
{template 'wslm', 'footer'}