{template 'wslm', 'header'}
        <!-- content start -->
        <div class="main-w">
            <div class="main">
                <div class="p-left-w">
                    <div class="p-left">
                        <!-- 导航 -->
                        {template 'wslm', 'tpl_sidenav'}

                        <!-- common -->
                        {template 'wslm', 'tpl_sidecommon'}

                        <!-- hotlink -->
                        {template 'wslm', 'tpl_sidehotlink'}

                    </div>
                </div>
                <div class="p-right-w">
                    <div class="p-right">
                        <div class="catbanner">
                            {block("top_$topid", 1)}
                        </div>
                        <div class="content-w">
                            <div class="content">
                                {template 'wslm', 'tpl_title'}
                                <div class="article-w">
                                    <div class="article news-list">
                                        <ul id="" class="">
                                        {loop $data $i $r}
                                            <li><span class="fr">{$r[date]}</span><a href="{$r[url]}">{$r[title]}</a></li>
                                        {/loop}
                                        </ul>
                                        <div class="pages">{$pages}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fc"></div>
            </div>
        </div>
        <!-- content end -->

        <!-- footer start -->
{template 'wslm', 'footer'}